// Define variables for your color scheme

// For example:
$green: #B8D7A7;
$coral: #FE7E6D;
$blue: #2F3A8F;
$gray: 	#808080;
$light-gray: #E6EEF6;
$grey-blue: #D0D9E2;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

