
<div class="container">
  <div class="row">
    <div class="col">
      <h1>List of Bookings</h1>

      <div class="table-position">
      <table>
        <thead>
          <tr>
            <th>Check ins</th>
            <th>Check out</th>

          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td> <%= @boooking.check_in %></td>
              <td><%= @booking.check_out %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

    </div>
  </div>
</div>
