
<div class="container">
  <div class="row">
    <div class="col">
      <h1>List of Bookings</h1>

      <div class="table-position">
      <table>
        <thead>
          <tr>
            <th>Check in</th>
            <th>Check out</th>
            <th>Total</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td> <%= boooking.check_in %></td>
              <td><%= booking.check_out %></td>
              <td><%= booking.total %></td>
              <td><%= yacht.location %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

    </div>
  </div>
</div>
