<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="side-navbar">
        <ul>
          <li><i class="fas fa-calendar"></i> <a href="#">Calendar</a></li>
          <li><i class="fas fa-check"></i> <a href="#">Bookings</a></li>
          <li><i class="fas fa-sailboat"></i> <a href="#">Yachts</a></li>
          <li><i class="fas fa-dollar-sign"></i> <a href="#">Payments</a></li>
          <li><i class="fas fa-map"></i> <a href="#">Tracker</a></li>
          <li><i class="fas fa-envelope"></i> <a href="#">Inbox</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="table-position">
      <h1>LIST OF BOOKINGS</h1>
      <table>
        <thead>
          <tr>
            <th>Check in</th>
            <th>Check out</th>
            <th>Total</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td> <%= boooking.check_in %></td>
              <td><%= booking.check_out %></td>
              <td><%= booking.total %></td>
              <td><%= yacht.location %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

    </div>
  </div>
</div>
