
<%= link_to "View All Bookings",bookings_path, class:"btn_all" %>
<div class="home-container">
  <div class="home-login">
    <div class="logo">
      <%= image_tag "YMS-logo.png", class:"logo", alt: "yms" %>
    </div>
    <div class="home-header">The first property <br>management system <br> that floats</div>
    <div class="home-subheader">No more double-booking. Increased revenues. We organize your bookings for you. </div>
    <div class="login">
      <div class="login-field">
        <input class="login-field" type="text" placeholder="Enter your float number">
      </div>
      <div class="home-btn">
        <%= link_to "Enter", yachts_path%>
      </div>
    </div>
  </div>
  <div class="home-img">
    <div class="demo-btn">
  <a>
    <span class="text">request DEMO</span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  </a>
    </div>
  </div>
</div>
