<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

<h1>My Calendar</h1>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
