<div style="position: relative;">
  <i class="fa-solid fa-ship" style="color: #111972;"></i>
  <div class="badge rounded-pill bg-primary fs-6" style="position: absolute; top: -30px; left: 50%; transform: translateX(-50%);">
    <%= yacht.location %>
  </div>
</div>
