<div class="badge rounded-pill bg-primary fs-6">
  <%= yacht.location %>
</div>
<i class="fa-solid fa-ship" style="color: #111972;"></i>
<%# <%= image_tag "logo2.png", height: 30, width: 30, alt: "Logo" %>
