<div class="wrapper">
  <%= render "shared/side-bar" %>
  <div class="main_content">
    <h1>Your crew</h1>
    <% @users.each do |user| %>
      <% if  user.crew == current_user.crew %>
        <h3><%= user.email %></h3>
        <%= cl_image_tag user.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>

    <% end %>
  </div>
</div>
