.meeting {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #9ace7d;

}

.simple-calendar {
  width: 90%;
  height: 200%;
  display: flex;
  flex-direction: column;


}


.simple-calendar table {
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 20px;
}

thead {
  background-color: $coral;
}

.simple-calendar table .today {
  background: #fe7e6d17;
}

.simple-calendar table th,
.simple-calendar table td {
  color: black;

}


.simple-calendar table td:hover {
  border: 2px solid $coral;
}
