.side-navbar ul {
  margin: 25px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  font-family: $body-font;
  list-style: none;

}

.side-navbar ul li {
  padding: 20px;
  text-decoration: none;
  font-weight: bolder;
  transition: transform 0.3s, color 0.3s;
  color: black;
}

.side-navbar a {
  text-decoration: none;
  color: $dark-gray;

}

.fas {
  color: $dark-gray;

}


.side-navbar ul li:hover {
  transform: scale(1.05);
  color: black;

}
